.login-screen {
  border: 1px solid #000;
  margin: 150px auto;
  padding : 50px;
}

.employee-box{
  border: 1px solid #000;
  padding : 20px;
  width: 450px;
  margin: 20px;
  float:left;
  max-height: 450px;
}

.each-box{
  border: 1px solid #000;
  padding : 2px;
}